/* .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    backdrop-filter: blur(10px);
    background-color: var(--primary-color);
}

.nav ul {
    display: flex;
    justify-content: space-around;
    width: 35%;

}

.nav ul li {
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.5px;
    font-family: 'Franklin Gothic';
} */